<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>-->
    <title>ChouTuan Home</title>
    <script src="/static/js/bootstrap.js"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
</head>

<body>
<!--Navigation bar-->
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <!--            <button type="button" class="navbar-toggle"-->
            <!--                    data-toggle="collapse" data-target=".navbar-collapse">-->
            <!--                <span class="sr-only">Toggle navigation</span>-->
            <!--                <span class="icon-bar"></span>-->
            <!--                <span class="icon-bar"></span>-->
            <!--                <span class="icon-bar"></span>-->
            <!--            </button>-->
            <a class="navbar-brand" href="/">ChouTuan Eats</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="fav-option"><a href="favorites.html">Favorites</a></li>
                <li class="login-option"><a href="login.html">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
<div class="sidebar">
    <div class="add-functions">
        <div class="add-functions-heading">ADD</div><br>
        <div class="add-functions-content">
            <a href="dishes.html">Add Dishes</a><br>
            <a href="ingredients.html">Add Ingredients</a>
        </div>
    </div>
    <div class="search-functions">
        <div class="search-functions-heading">Search</div><br>
        <div class="search-functions-content">
            <a href="search_dishes.html">Search Dishes</a><br>
        </div>
    </div>

</div>
</html>

