<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Read Blog</title>
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
</head>
<body>
<!--Navigation bar-->
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ECE1779 Assignment3</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/blog/main">Home</a></li>
                <li><a href="/user_logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<!--Main body-->
<div>
    <!--Cartoon blog-->
    <div class="col-md-6 col-md-offset-3">
        <!--Blog-->
        <div class="panel panel-primary">
            <div class="panel-heading">Cartoon Blog</div>
            <div class="panel-body">
                <img src="{{ blog.image }}" class="img-responsive center-block" style="margin-top: 20px">
                <div class="alert alert-warning" style="margin-top: 20px" role="alert">
                    <p class="mb-0 offset-1">{{ blog.content | replace('\n', '<br />') | safe }}</p>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-8">
                        <span class="text-secondary">Created: {{ blog.created }}</span>
                    </div>
                    <div class="col-md-2">
                        {% if blog.uid == session['uid'] %}
                        <a class="text-danger" href="/blog/delete_blog?bid={{ blog.id }}">
                            <span class="glyphicon glyphicon-trash"></span>
                            <strong>Delete</strong>
                        </a>
                        {% endif %}
                    </div>
                    <div class="col-md-2">
                        <a href="/blog/like_blog?bid={{ blog.id }}" class="primary">
                            {% if is_liked %}
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                            <strong>Unlike:</strong>
                            {% else %}
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            <strong>Like:</strong>
                            {% endif %}
                        </a>
                        <span>{{ blog.n_like }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>